{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css\style.css' %}">
  <title>SPEAKIFY</title>
  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img class="navbar-logo" src=" {% static "images\SPEAKIFY7722.gif" %} " alt="hello"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="#">Features</a>
          <a class="nav-link" href="#">Pricing</a>
        </div>
      </div>
    </div>
  </nav>
</head>

<body>

  <div class="container2">


    <div class="box2">
        

      <span class="text-ai">AI Text to Speech</span>
      <span class="natural-reader">NaturalReader</span>
      <span class="paragraph">The #1 text to speech solution for</span>
      <span class="paragraph">personal, commercial, and</span>
      <span class="paragraph">educational use</span>
    </div>
    <div class="img2">

      <img src="{% static 'images\2121222.png' %}" alt="images" width="600" height="550">

    </div>
    
  </div>
  <div class="container">


    
    <div class="box">
      <h3 class="h3">Text to audio
      </h3>
      <p class="para">
        Type or paste the narration script below, or click Upload File to load the script from a document. You <br> can
        upload plain text (.txt), MS Word (.docx and .doc), MS Excel (.xlsx and .xls), PDF, EPUB, RTF, <br> Open
        Document (.odt, .ods) and subtitle (.srt, .vtt) files. <br>
        (Looking for a quick example? Download this file.)
      </p>
      <p class="lang"> Language: <select class="lang-select">
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>

      </p>
         <form method="post" action="{% url 'generate_and_play_audio' %}">
            {% csrf_token %}
           
            <span class="voice"><label class="voice" for="voice_input">Voice:</label>
            <select class="voice-select" name="voice_input" required>
                
                <div class = "dropdown">
                "<option value="Adam">Adam</option>
                <option value="Antoni">Antoni</option>
                <option value="Arnold">Arnold</option>
                <option value="Callum">Callum</option>
                <option value="Charlie">Charlie</option>
                <option value="Charlotte">Charlotte</option>
                <option value="Clyde">Clyde</option>
                <option value="Daniel">Daniel</option>
                <option value="Dave">Dave</option>
                <option value="Domi">Domi</option>
                <option value="Dorothy">Dorothy</option>
                <option value="Ell">Ell</option>
                <option value="Emil">Emil</option>
                <option value="Ethan">Ethan</option>
                <option value="Fin">Fin</option>
                <option value="Freya">Freya</option>
                <option value="Gigi">Gigi</option>
                <option value="Giovanni">Giovanni</option>
                <option value="Glinda">Glinda</option>
                <option value="Grace">Grace</option>
                <option value="Harry">Harry</option>
                <option value="James">James</option>
                <option value="Jeremy">Jeremy</option>
                <option value="Joseph">Joseph</option>
                <option value="Josh">Josh</option>
                <option value="Liam">Liam</option>
                <option value="Matilda">Matilda</option>
                <option value="Matthew">Matthew</option>
                <option value="Michael">Michael</option>
                <option value="Mimi">Mimi</option>
                <option value="Nicole">Nicole</option>
                <option value="Patrick">Patrick</option>
                <option value="Rachel">Rachel</option>
                <option value="Ryan">Ryan</option>
                <option value="Sam">Sam</option>
                <option value="Serena">Serena</option>
                <option value="Thomas">Thomas</option>
               
                </div>
                
               
                <!-- Add other voice options as needed -->
                </select> </span>
            
             
            <label class="script" for="text_input">Enter the text:</label>
            <textarea class="form-control" rows="7" name="text_input" placeholder="Paste your script" required>{{ extracted_text }}</textarea>

           
            
            {% comment %} <div class="input-div">
              <input class="input" name="file" type="file">
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" stroke-linejoin="round" stroke-linecap="round" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke="currentColor" class="icon">
              <polyline points="16 16 12 12 8 16"></polyline>
              <line y2="21" x2="12" y1="12" x1="12"></line>
              <path d="M20.39 18.39A5 5 0 0 0 18 9h-1.26A8 8 0 1 0 3 16.3"></path>
              <polyline points="16 16 12 12 8 16"></polyline>
              <div class="input-div"> {% endcomment %}
            <button class= "batman">
             <span>PLAY NOW</span>
              </button>
                  

            <button class = "btn-17" type="submit">
              <span class="text-container">
                <span class="text">CREATE AUDIO</button></span>
              </span>
        </form> 
        <form enctype="multipart/form-data" action="{% url 'extract_text' %}" method="post">
          {% csrf_token %}
          <div class="input-div">
          <input class ="input" type="file" name="pdfFile" id="inpFile">
          <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" stroke-linejoin="round" stroke-linecap="round" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke="currentColor" class="icon">
            <polyline points="16 16 12 12 8 16"></polyline>
            <line y2="21" x2="12" y1="12" x1="12"></line>
            <path d="M20.39 18.39A5 5 0 0 0 18 9h-1.26A8 8 0 1 0 3 16.3"></path>
            <polyline points="16 16 12 12 8 16"></polyline>
          </div>
          <button  class = "btn-17" type="submit">
            <span class="text-container"><span class="text">UPLOAD</button>
          </button>
      </form>
      <br>
      <br>
      {% comment %} <textarea style="width: 300px; height: 150px;" id="resultText" placeholder="Your PDF text will appear here...">{{ extracted_text }}</textarea> {% endcomment %}



    </div>
    
  </div>
  
</body>

</html>